*.swp
*.pyc
artifacts/models
artifacts/nbooks
**/.ipynb_checkpoints
.ipynb_checkpoints
**/__pycache__
**/**/__pycache__
data/*
**/**/*.egg-info
models/*
results_n_comments/resultsComparison
results_n_comments/Phase-1-Report/Phase 1 Report.pdf
notebooks/DNN_Ali_April13.ipynb