*.swp
*.pyc
artifacts/models
artifacts/nbooks
**/.ipynb_checkpoints
.ipynb_checkpoints
**/__pycache__
**/**/__pycache__
data/*
**/**/*.egg-info
models/*
results_n_comments/resultsComparison
notebooks/DNN_Ali_April13.ipynb