mlflow>=1.2.0
pandas>=1.2.3
pillow>=8.1.2
scikit-learn>=0.24.1
scipy>=1.6.1
tqdm>=4.59.0
jupyter>=1.0.0
seaborn>=0.10.1
xgboost>=1.5.0
matplotlib>=3.4.0
scikit-image>=0.18.1
statsmodels>=0.13.2
holidays>=0.13.0
papermill>=2.3.4
sktime>=0.11.0
lightgbm>=2.2.3
papermill>=2.2.0
-e ./packages/Preprocess